<h2>Sign Up For a New Account Below!</h2>
<p>Please be sure to complete all fields to create a new account</p>
<form action="/signup" method="post">
  <label>User Name:</label><br>
  <input type="text" id="username" name="username"><br>
  <label>Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label>Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Create Account">
</form>
