<h2>Log In Below</h2>
<form action="/login" method="post">
  <label>User Name:</label>
  <input type="text" id="username" name="username">
  <label>Password:</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Submit">
</form>
<br><br>
<a href="/signups">Sign Up for An Account</a><br><br>
<a href="/">To Return To Main Page</a>
