<div class="pic">

<h1>Welcome to Wanderlust's Top Travel Destinations 2020 Posted By Our Users</h1><br>
<a href="/destinations/new">Click Here To Create A New Destination</a>
<ul>
<% @destinations.each do |destination|%>
  <li><a href="/destinations/<%= destination.id %>"><%= destination.city %>, <%= destination.country %></a></li>
  <% end %>
</ul>
</div>
