<div class="pic_1">
<div class="title_container">
<h1>Create your Destination</h1>
<p>Create your destination by typing in a country and city you visited</p>
<form action="/destinations" method="post">
  <label>Country:</label>
  <input type="text" id="country" name="country">
  <label>City:</label>
  <input type="text" id="city" name="city">
  <input type="submit" value="Create New Destination">
</form>
</div>
</div>
