<h1>Add Attraction Site and Comments</h1>
<form action="/attractions" method="post">
  <label>Attraction Site:</label>
  <input type="text" id="site" name="site">
  <br><br>
  <label>Comments</label>
  <textarea id="comments" name="comments"></textarea>
  <br><br>
  <input type="submit" value="Submit">
