<div class="pic_4">
  <div class="title_container">
    <h1>Add Attraction Site and Comments</h1>
    <p>Feel free to add an attraction site along with your comments regarding each attraction site and click Submit.</p>

    <form action="/attractions" method="post">
      <label>Attraction Site:</label>
      <input type="text" id="site" name="site">
      <br><br>
      <label>Comments:</label>
      <textarea id="comments" name="comments"></textarea>
      <input type="hidden" name="id" value="<%= @destination.id %>">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
